CONFIG_TARGET_rockchip=y
CONFIG_TARGET_rockchip_armv8=y
CONFIG_TARGET_rockchip_armv8_DEVICE_friendlyarm_nanopi-r2s=y

//改上面三行


CONFIG_LIBCURL_COOKIES=y
CONFIG_LIBCURL_CRYPTO_AUTH=y
CONFIG_LIBCURL_FILE=y
CONFIG_LIBCURL_FTP=y
CONFIG_LIBCURL_HTTP=y
CONFIG_LIBCURL_LDAP=y
CONFIG_LIBCURL_LDAPS=y
CONFIG_LIBCURL_NGHTTP2=y
CONFIG_LIBCURL_OPENSSL=y
CONFIG_LIBCURL_PROXY=y
CONFIG_LIBCURL_TFTP=y
CONFIG_LIBCURL_THREADED_RESOLVER=y
CONFIG_LIBCURL_TLS_SRP=y
CONFIG_LIBCURL_UNIX_SOCKETS=y

CONFIG_PACKAGE_coreutils-nohup=y
CONFIG_PACKAGE_curl=y

									 
# CONFIG_PACKAGE_etherwake is not set
CONFIG_PACKAGE_ip-tiny=y
CONFIG_PACKAGE_iptables-mod-conntrack-extra=y
CONFIG_PACKAGE_iptables-mod-filter=y
CONFIG_PACKAGE_iptables-mod-ipopt=y
CONFIG_PACKAGE_iptables-mod-nfqueue=y
											   
CONFIG_PACKAGE_iptables-mod-u32=y
CONFIG_PACKAGE_kmod-ipt-conntrack-extra=y
CONFIG_PACKAGE_kmod-ipt-filter=y
CONFIG_PACKAGE_kmod-ipt-ipopt=y
CONFIG_PACKAGE_kmod-ipt-nfqueue=y
										 
CONFIG_PACKAGE_kmod-ipt-u32=y
CONFIG_PACKAGE_kmod-nfnetlink-queue=y
CONFIG_PACKAGE_kmod-rkp-ipid=y
CONFIG_PACKAGE_kmod-tun=y
CONFIG_PACKAGE_libcurl=y
CONFIG_PACKAGE_libnetfilter-queue=y
CONFIG_PACKAGE_libnghttp2=y
CONFIG_PACKAGE_libopenldap=y
CONFIG_PACKAGE_libsasl2=y
CONFIG_PACKAGE_luci-app-filetransfer=y
CONFIG_PACKAGE_luci-theme-argon=y

CONFIG_PACKAGE_ua2f=y
CONFIG_PACKAGE_unzip=y
CONFIG_PACKAGE_xray-core=y
CONFIG_PACKAGE_xray-geodata=y
								
CONFIG_SDK=y
CONFIG_XRAY_CORE_COMPRESS_UPX=y
CONFIG_PACKAGE_ipt2socks=y
CONFIG_PACKAGE_kmod-tcp-bbr=y
CONFIG_PACKAGE_libmbedtls=y
CONFIG_PACKAGE_ipset=y
CONFIG_PACKAGE_luci-app-adguardhome=y
CONFIG_PACKAGE_luci-app-adguardhome_INCLUDE_binary=y

CONFIG_PACKAGE_luci-app-aliddns=y

CONFIG_PACKAGE_luci-app-argon-config=y

CONFIG_PACKAGE_luci-app-passwall=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Xray=y

CONFIG_PACKAGE_luci-app-ttyd=y

CONFIG_UnblockNeteaseMusic_Go = y
CONFIG_PACKAGE_luci-app-unblockneteasemusic-go = y
CONFIG_PACKAGE_luci-app-unblockneteasemusic-mini = y
CONFIG_KERNEL_MIPS_FPU_EMULATOR=y
